# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
venv/
ENV/
env/
*.sqlite3

# macOS
.DS_Store

# VSCode
.vscode/

# Logs
*.log

# Secret files
*.env

# Frontend build
node_modules/
.next/
out/
